body {
    /*background: url("../images/mark-sheet-watermark.svg");*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: 400px 400px;
}

.container { }

.exam-wraper {
    float: left;
    background: #fff;
    font-family: sans-serif;
    background-color: transparent;
}

.marksheet-header-table {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #000;
    margin-bottom: 15px;
    padding: 0;
    text-align: center;
    width: 100%;
    font-family: sans-serif;
    background-color: transparent;
}

.marksheet-header-table p strong { width:150px; display:inline-block; }
.marksheet-header-table td+td+td p strong { width:100px; display:inline-block; }
.marksheet-header-table > tbody { width: 100% }

.marksheet-header-table tr {
    float: left;
    width: 100%;
}

.marksheet-header-table td {
    padding: 5px;
    width: 800px;
    text-align: left;
}

.marksheet-header-table td:last-child {
    text-align: left;
    padding-left: 20%;
}

.sPhoto { width: 130px !important }

.marksheet-header-table td p {
    line-height: 16px;
    margin: 0;
}
.number-total {
    background-color: #8cff38;
    font-weight: bold;
}

.result-card {
    border-collapse: collapse;
    border-spacing: 0;
    border-color: black;
    border-left: 1px solid black;
}

.exam_name { background-color: #ffffb0}
.sub_exam_name { background-color: #CCD4D9}
.green_header { background-color: #2CCF51; font-weight:bold}
.total-row { background-color: #ffbebe; font-weight: bold; }
.final_gpa { background-color:#ECEA17; font-weight:bold}
.merit { background-color: #a3fff8; font-weight:bold; height: 30px;}
.gpa-row { background-color: #bcb0ff }

.result-card table, td, th {
    font-size: 14px;
    text-align: center;
    background-color: transparent;
}

.college-progress-card {
     margin-left: 50px;
}


.college-progress-card .result-card td {
     width: 102px;
     height: 26px;
}

.college-progress-card .marksheet-header-table td:last-child {
    padding-left: 20%;
}

.college-progress-card .result-card table, td, th {
    font-size: 12px;
}

.college-progress-card .marksheet-header-table td + td + td p strong {
    width: 98px;
}
.result-card td {
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    border-left: 1px;
    border-color: black;
    padding: 1px;
    width: 93px;
}

.result-card th {
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    border-color: black;
    border-left: 0;
}

tbody { float: left }

.mainCon {
    text-align: center;
    margin-bottom: 10px;
    font-family: sans-serif;
}

.mainCon h1, .mainCon h2, .mainCon h3 {
    line-height: 26px;
    margin: 0;
}

.mainCon h1 {
    line-height: normal;
    font-size: 26px;
    color:#001221;
}

.mainCon h2 { font-size: 18px; color:#001221}

.mainCon h3 {
    font-size: 19px;
    line-height: 16px;
  	color:#001221;
  	margin-top:90px;
}

.signature {
    float: left;
    display: block;
    width: 100%;
    font-family: sans-serif;
    margin-top: 70px;
    margin-bottom: 30px;
}

.signature td { width: 800px; vertical-align:top; }
.signature hr{ border-top:1px solid #000; width:220px;}
.poweredby {
    position: absolute;
    bottom: 1px;
    font-size: 11px;
    left: 28%;
}
